.reservation {
  background-color: #d9e7ff;
  background-image: url("/images/background_reservation.svg");
  background-size: cover;
  background-position: center;

  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #000;
  margin: 0%;
}
.reservation__title {
  font-family: "Inter", "Arial", sans-serif;
  line-height: 52px;
  font-size: 44px;
  font-weight: 500;
  padding-top: 100px;
  margin: 0px auto 80px;
}
.reservation__form {
  margin: 0 auto 120px;
}
