.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.header {
  background-position: center;
  background-image: url("/images/background_header.svg");
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.nav__logo {
  position: relative;
  top: 30px;
  left: 30px;
  width: 105px;
  height: 39px;
}
.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}
.nav__links {
  justify-content: flex-end;
  display: flex;
  list-style-type: none;
  margin: 30px 80px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
  color: #000;
}
.nav__link {
  margin-left: 20px;
  text-decoration: none;
  font-style: normal;
  color: #000;
}
.header__span-accent {
  color: #2f80ed;
  font-family: "Noto-Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
}
.header__title {
  display: flex;
  flex-direction: column;
  margin: 183px auto 0px 80px;
  max-width: 709px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  color: #000;
}

.header__description {
  max-width: 683px;
  margin: 28px auto 0px 80px;
  font-family: "Noto-Serif", "Times New Roman", serif;
  font-style: normal;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}
.header__footer {
  display: flex;
  flex-direction: column;
  margin: auto 40px 80px;

  color: #838383;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__paragraph {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
.last-line {
  display: flex;
  justify-content: space-between;
}
.recipes {
  background-color: #0a2750;
  background-image: url("/images/background_recipes.svg");
  background-size: cover;
  background-position: center;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #fff;
}
.recipes__title {
  max-width: 580px;
  margin: 100px auto 24px 80px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 50px;
}
.recipes__subtitle {
  margin: 0px auto 0px 80px;
  max-width: 438px;
  font-family: "Noto-Serif", "Times New Roman", serif;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}
.recipes__videos {
  display: flex;
  margin: 80px auto 215px auto;
}
.recipes__video-item {
  margin: auto 40px auto 24px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
}
.recipes__iframe {
  width: 480px;
  height: 273px;
}
.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.reservation {
  background-color: #d9e7ff;
  background-image: url("/images/background_reservation.svg");
  background-size: cover;
  background-position: center;

  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #000;
  margin: 0%;
}
.reservation__title {
  font-family: "Inter", "Arial", sans-serif;
  line-height: 52px;
  font-size: 44px;
  font-weight: 500;
  padding-top: 100px;
  margin: 0px auto 80px;
}
.reservation__form {
  margin: 0 auto 120px;
}
.form {
  max-width: 385px;
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  box-sizing: border-box;
}
.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.form__label {
  font-family: "Inter", "Arial", sans-serif;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}
.form__label_el_position {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
.form__item {
  font-family: "Inter", "Arial", sans-serif;
  line-height: 30px;
  font-size: 20px;
  border-radius: 4px;
  width: 100%;
  margin: 8px 0 32px;
  height: 60px;
}
.form__item::placeholder {
  padding-top: 15px;
  padding-left: 20px;
  width: 100%;
  box-sizing: border-box;
}
.form__button {
  font-family: "Inter", "Arial", sans-serif;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
  opacity: 100%;
  border-radius: 4px;
  max-width: 385px;
  height: 60px;
  background-color: #2f80ed;
  color: #fff;
  width: 100%;
}
.form__button:hover {
  opacity: 70%;
}
.form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border-radius: 2px;
  height: 20px;
  width: 20px;
  margin-right: 12px;
}

.form__item_el_date {
  padding-left: 20px;
  padding-top: 15px;
}
.form__pseudo-item {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  margin-right: 12px;
}
.form__checkbox:checked + .form__pseudo-item_type_checkbox {
  background-image: url("/images/check.svg");
  background-color: #2f80ed;
}
